#first-section {
	padding-top: 8.5rem !important;
}

.py-4 {
	padding-top: 15.5rem !important;
	padding-bottom: 15.5rem !important;
}

@media only screen and (min-width: 840px) {
	.videoWrapper iframe {
		width: 840px;
		height: 475px;
	}
}

@media only screen and (max-width: 840px) {
	.videoWrapper iframe {
		width: 530px;
		height: 300px;
	}
}

h5 {
	font-size: 4.0rem;
	font-weight: 700;
	color: #212529;
	line-height: 1.1;
}

p {
	font-size: 1.3rem;
	font-weight: 300;
	color: #212529;
	line-height: 1.5
}

#vid {
	position: fixed;
	background: #000000;
}

#gameTitle {
	margin-top: 30px;
}

.our-services {
	background-color: orange;
}

.blog {
	color: white;
	background-color: rgba(255, 255, 255, 0.8);
	padding-top: 15.5rem !important;
	padding-bottom: 15.5rem !important;
}

.contact {
	text-align: center;
}

.faq-container {
	padding-top: 15.5rem !important;
}

.app-features {
	background-color: (255, 255, 255, 0.8);
	padding-top: 300px;
}

.section-title {
	margin-top: 30px;
}

#chart1Wrapper {
	position: relative;
	float: left;
	clear: both;
	width: 550px;
}
#chart2Wrapper {
	width: 550px;
}
#chart3Wrapper {
	width: 550px;
}

#chart1Pop {
	float: right;
	clear: both;
	position: relative;
}

#chart2Pop {
	/*
	float: right;
	clear: both;
	position: relative;
	*/
}

#chart1PopImg {
	position: absolute;
	bottom: 0px;
	margin-left: 70px;
}

#chart2PopImg {
	position: absolute;
	bottom: 21px;
	margin-left: 70px;
}

#chart3Pop {
	float: right;
	clear: both;
	position: relative;
}

#chart3PopImg {
	position: absolute;
	bottom: 42px;
	margin-left: 90px;
}

.rowWrapper {
	text-align: center;
}

.waiting-for-text-wraper {
	text-align: center;
	font-size: 45px;
}

.px-4 {
	text-align: center;
}